@model IEnumerable<YandS.UI.Models.CourtCaseStatusDetail>
@if (Model.Count() > 0)
{
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">CASE STATUS DETAIL</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          

                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>FILE CLOSER DATE</th>
                                <th>REASON</th>
                                <th>CURRENT CASE LEVEL</th>
                                <th>CLOSURE LEVEL</th>
                                <th>FILE ARCHIVE</th>
                                <th>LITIGATION FILE CLOSURE DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatusDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReasonName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrentCaseLevelName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClosureLevelName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileAllocationName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LitigationFileClosureDate)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

         

        </div>
        <!-- /.card-body -->
    </div>
}
else
{
    <div class="card card-outline card-warning">
        <div class="card-header">
            <h3 class="card-title">CASE STATUS DETAIL</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">
                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-info">
                            <h5>FILE CLOSURE HISTORY INFORMATION</h5>
                            <p>NO INFORMATION FOUND!</p>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
}
