<script type="text/javascript">
    jQuery(function ($) {
        $.validator.addMethod('date',
            function (value, element) {
                $.culture = Globalize.culture("en-AU");
                var date = Globalize.parseDate(value, "dd/MM/yyyy", "en-AU");
                return this.optional(element) ||
                    !/Invalid|NaN/.test(new Date(date).toString());
            });
    });

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $(".deleteRow").on("click", function () {
            $(this).parents(".divCollectionRow:first").remove();
            CollectionCount = CollectionCount - 1;
            return false;
        });

        var form = $('form');
        form.data('validator', null);
        $.validator.unobtrusive.parse(form);

    });

</script>
@model YandS.UI.Models.CourtCasesFollowup

@using (Html.BeginCollectionItem("FollowupId"))
{
    <div class="divCollectionRow">
        <div class="card-body">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.DetailId)
                @Html.HiddenFor(model => model.CreatedBy)
                @Html.HiddenFor(model => model.CreatedOn)
                @Html.HiddenFor(model => model.FollowupId)
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">  Hearing Date</label>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(model => model.HearingDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.HearingDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label"> Next Hearing Date</label>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(model => model.NextHearingDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.NextHearingDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" id="deleteRow" class="btn btn-danger deleteRow"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HearingRemarks)
                                    @Html.TextAreaFor(model => model.HearingRemarks, 4, 100, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
