@model YandS.UI.Models.CourtCases

@{
    ViewBag.Title = "Y & S Associates - Case Detail";
}

<h2>Details</h2>

<div>
    <h4>CourtCases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeFileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeFileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defendant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defendant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefClientCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefClientCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgainstCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgainstCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountContractNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountContractNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientFileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientFileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalNoticeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalNoticeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODBLoanCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODBLoanCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODBBankBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODBBankBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseStatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseStatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicProsecutionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicProsecutionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAPCNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAPCNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAPCPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAPCPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborConflicNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborConflicNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborConflicPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborConflicPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YandSNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YandSNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
