@model YandS.UI.Models.ToBeRegisterVM
<script type="text/javascript">
    function ProcessAuctionProcess() {
        if ($("#AuctionProcess").val() == "11") {
            $("#div_Def_AnnType").removeClass("AppHidden");
            LoadUpdate($('#EnforcementlevelId').val());
        }
        else
            $("#div_Def_AnnType").removeClass("AppHidden").addClass("AppHidden");
    }
    $(document).ready(function () {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $('#txtJUDAuctionValue').val($('#JUDAuctionValue').val());
        console.log(parseFloat($('#txtJUDAuctionValue').val()));
        console.log($('#txtJUDAuctionValue').val());

        if (parseFloat($('#txtJUDAuctionValue').val()) > 0)
            $("#JUDAuctionValue").prop("readonly", true);
        else
            $("#JUDAuctionValue").prop("readonly", false);

        $('#JUDAuctionValue').on("blur", function () {
            $('#txtJUDAuctionValue').val($('#JUDAuctionValue').val());

            if (parseFloat($('#txtJUDAuctionValue').val()) > 0)
                $("#JUDAuctionValue").prop("readonly", true);
            else
                $("#JUDAuctionValue").prop("readonly", false);
        });

        $('#AuctionProcess').change(function () {
            ProcessAuctionProcess();
        });

        $('#JUDAuctionRepeat').change(function () {
            if ($('#txtJUDAuctionValue').val() == "") {
                Swal.fire({
                    type: "info",
                    title: 'Value Required',
                    html: 'PLEASE ENTER AUCTION VALUE'
                });
                return false;
            }
            var $txtJUDAuctionValue = parseFloat($('#txtJUDAuctionValue').val());
            var $AuctionPCT = $(this).val() == "1" ? 0 : (parseInt($(this).val()) - 1) * 10;
            var Res = $txtJUDAuctionValue - ($txtJUDAuctionValue * ($AuctionPCT / 100));
            $('#JUDAuctionValue').val(Res);
            $('#txtJUDAuctionValue').val(Res);
        });
        ProcessAuctionProcess();
    });
</script>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(model => model.AuctionProcess)
            @Html.DropDownList("AuctionProcess", null, htmlAttributes: new { @class = "form-control select2bs4" })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(model => model.JUDAuctionDate)
            @Html.EditorFor(model => model.JUDAuctionDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(model => model.JUDAuctionValue)
            @Html.EditorFor(model => model.JUDAuctionValue, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <input type="hidden" id="txtJUDAuctionValue" />
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(model => model.JUDAuctionRepeat)
            @Html.DropDownList("JUDAuctionRepeat", null, htmlAttributes: new { @class = "form-control select2bs4" })
        </div>
    </div>
</div>